 .card-category-page{
  width: 250px;
 border-radius: 10px !important;  
 }
 @media(max-width:768px)
 {
  .card-category-page{
  width: 100%;
  height: auto;
 }
 }
.slider12-category .card-category-page{
  flex: 1;
  margin: 0 20px;
  background: #fff;
}
.slider12-category .card-category-page .img{
  position: relative;
  height: 200px;
  width: 100%;
 
}
.slider12-category .card-category-page .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
   border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.slider12-category .card-category-page .content{
  padding: 10px 30px;
}
.card-category-page .content .title{
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: start;
 
letter-spacing: 0.15px;
 

color: #000000;

}

.card-category-page .content .sub-title{
 display: flex  ;
}
.card-category-page .content .sub-title p{
 font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 9px;
 
 
 

color: rgba(0, 0, 0, 0.5);

}
.card-category-page .content p{
  text-align: justify;
  margin: 10px 0;
}
.card-category-page .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card-category-page .content .btn button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card-category-page .content .btn button:hover{
  transform: scale(0.9);
}





 <main class="dashboard12">

         
            <div class="row slider12-category m-sm-2">
                <div class="col-md-4   card-category-page">
                    <div class="img  ">
                        <span class="badge  feature-badge">Sponsored</span>
                        <img src="./assets/img/main-feature-1.png" alt="">

                        <div class=" feature-card-price px-5">
                            <div>
                                <h4>$ 20,000</h4>
                            </div>
                            <div class="mt-1">
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 18.35L8.55 17.03C3.4 12.36 0 9.27 0 5.5C0 2.41 2.42 0 5.5 0C7.24 0 8.91 0.81 10 2.08C11.09 0.81 12.76 0 14.5 0C17.58 0 20 2.41 20 5.5C20 9.27 16.6 12.36 11.45 17.03L10 18.35Z"
                                        fill="white" />
                                </svg>

                            </div>

                        </div>
                    </div>
                    <div class="content featured-card-content">
                        <div class="title">
                            Chevelotte Maike
                        </div>
                        <div class="sub-title">
                            <div class="mt-2">
                                <svg width="12" height="14" viewBox="0 0 12 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 7.13376C6.4125 7.13376 6.76575 6.99394 7.05975 6.71429C7.35375 6.43465 7.5005 6.09889 7.5 5.70701C7.5 5.31465 7.353 4.97865 7.059 4.69901C6.765 4.41936 6.412 4.27978 6 4.28025C5.5875 4.28025 5.23425 4.42008 4.94025 4.69972C4.64625 4.97936 4.4995 5.31513 4.5 5.70701C4.5 6.09936 4.647 6.43536 4.941 6.71501C5.235 6.99465 5.588 7.13423 6 7.13376ZM6 14C5.9 14 5.8 13.9822 5.7 13.9465C5.6 13.9108 5.5125 13.8633 5.4375 13.8038C3.6125 12.2701 2.25 10.8462 1.35 9.53213C0.45 8.21809 0 6.99061 0 5.84968C0 4.06624 0.60325 2.64544 1.80975 1.58726C3.01625 0.529087 4.413 0 6 0C7.5875 0 8.9845 0.529087 10.191 1.58726C11.3975 2.64544 12.0005 4.06624 12 5.84968C12 6.99108 11.55 8.2188 10.65 9.53284C9.75 10.8469 8.3875 12.2705 6.5625 13.8038C6.4875 13.8633 6.4 13.9108 6.3 13.9465C6.2 13.9822 6.1 14 6 14Z"
                                        fill="black" />
                                </svg>

                            </div>
                            <div class="mx-3">
                                <p>264 Gregory Ave.Southfield, MI 48076</p>
                            </div>
                        </div>


                        <div class="d-flex justify-content-between featured_card_details">
                            <div class="mt-3">
                                <p>Milage</p>

                            </div>
                            <div class=" ">
                                <h2>100,325 Kms</h2>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between featured_card_details">
                            <div class="">
                                <p>Version</p>

                            </div>
                            <div class=" ">
                                <h2>Automatic</h2>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between featured_card_details">
                            <div class=" ">
                                <p>Fuel</p>

                            </div>
                            <div class=" ">
                                <h2>Petrol</h2>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 card123 card-category-page">
                    <div class="img  ">

                        <img src="./assets/img/main-feature-2.png" alt="">

                        <div class=" feature-card-price px-5">
                            <div>
                                <h4>$ 20,000</h4>
                            </div>
                            <div class="mt-1">
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 18.35L8.55 17.03C3.4 12.36 0 9.27 0 5.5C0 2.41 2.42 0 5.5 0C7.24 0 8.91 0.81 10 2.08C11.09 0.81 12.76 0 14.5 0C17.58 0 20 2.41 20 5.5C20 9.27 16.6 12.36 11.45 17.03L10 18.35Z"
                                        fill="white" />
                                </svg>

                            </div>

                        </div>
                    </div>
                    <div class="content">
                        <div class="title">
                            Chevelotte Maike
                        </div>
                        <div class="sub-title">
                            <div class="mt-2">
                                <svg width="12" height="14" viewBox="0 0 12 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 7.13376C6.4125 7.13376 6.76575 6.99394 7.05975 6.71429C7.35375 6.43465 7.5005 6.09889 7.5 5.70701C7.5 5.31465 7.353 4.97865 7.059 4.69901C6.765 4.41936 6.412 4.27978 6 4.28025C5.5875 4.28025 5.23425 4.42008 4.94025 4.69972C4.64625 4.97936 4.4995 5.31513 4.5 5.70701C4.5 6.09936 4.647 6.43536 4.941 6.71501C5.235 6.99465 5.588 7.13423 6 7.13376ZM6 14C5.9 14 5.8 13.9822 5.7 13.9465C5.6 13.9108 5.5125 13.8633 5.4375 13.8038C3.6125 12.2701 2.25 10.8462 1.35 9.53213C0.45 8.21809 0 6.99061 0 5.84968C0 4.06624 0.60325 2.64544 1.80975 1.58726C3.01625 0.529087 4.413 0 6 0C7.5875 0 8.9845 0.529087 10.191 1.58726C11.3975 2.64544 12.0005 4.06624 12 5.84968C12 6.99108 11.55 8.2188 10.65 9.53284C9.75 10.8469 8.3875 12.2705 6.5625 13.8038C6.4875 13.8633 6.4 13.9108 6.3 13.9465C6.2 13.9822 6.1 14 6 14Z"
                                        fill="black" />
                                </svg>

                            </div>
                            <div class="mx-3">
                                <p>264 Gregory Ave.Southfield, MI 48076</p>
                            </div>
                        </div>


                        <div class="d-flex justify-content-between featured_card_details">
                            <div class="mt-3">
                                <p>Milage</p>

                            </div>
                            <div class=" ">
                                <h2>100,325 Kms</h2>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between featured_card_details">
                            <div class="">
                                <p>Version</p>

                            </div>
                            <div class=" ">
                                <h2>Automatic</h2>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between featured_card_details">
                            <div class=" ">
                                <p>Fuel</p>

                            </div>
                            <div class=" ">
                                <h2>Petrol</h2>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 card123 card-category-page">
                    <div class="img  ">
                        <span class="badge  feature-badge">Sponsored</span>
                        <img src="./assets/img/main-feature-3.png" alt="">

                        <div class=" feature-card-price px-5">
                            <div>
                                <h4>$ 20,000</h4>
                            </div>
                            <div class="mt-1">
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 18.35L8.55 17.03C3.4 12.36 0 9.27 0 5.5C0 2.41 2.42 0 5.5 0C7.24 0 8.91 0.81 10 2.08C11.09 0.81 12.76 0 14.5 0C17.58 0 20 2.41 20 5.5C20 9.27 16.6 12.36 11.45 17.03L10 18.35Z"
                                        fill="white" />
                                </svg>

                            </div>

                        </div>
                    </div>
                    <div class="content featured-card-content">
                        <div class="title">
                            Chevelotte Maike
                        </div>
                        <div class="sub-title">
                            <div class="mt-2">
                                <svg width="12" height="14" viewBox="0 0 12 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 7.13376C6.4125 7.13376 6.76575 6.99394 7.05975 6.71429C7.35375 6.43465 7.5005 6.09889 7.5 5.70701C7.5 5.31465 7.353 4.97865 7.059 4.69901C6.765 4.41936 6.412 4.27978 6 4.28025C5.5875 4.28025 5.23425 4.42008 4.94025 4.69972C4.64625 4.97936 4.4995 5.31513 4.5 5.70701C4.5 6.09936 4.647 6.43536 4.941 6.71501C5.235 6.99465 5.588 7.13423 6 7.13376ZM6 14C5.9 14 5.8 13.9822 5.7 13.9465C5.6 13.9108 5.5125 13.8633 5.4375 13.8038C3.6125 12.2701 2.25 10.8462 1.35 9.53213C0.45 8.21809 0 6.99061 0 5.84968C0 4.06624 0.60325 2.64544 1.80975 1.58726C3.01625 0.529087 4.413 0 6 0C7.5875 0 8.9845 0.529087 10.191 1.58726C11.3975 2.64544 12.0005 4.06624 12 5.84968C12 6.99108 11.55 8.2188 10.65 9.53284C9.75 10.8469 8.3875 12.2705 6.5625 13.8038C6.4875 13.8633 6.4 13.9108 6.3 13.9465C6.2 13.9822 6.1 14 6 14Z"
                                        fill="black" />
                                </svg>

                            </div>
                            <div class="mx-3">
                                <p>264 Gregory Ave.Southfield, MI 48076</p>
                            </div>
                        </div>


                        <div class="d-flex justify-content-between featured_card_details">
                            <div class="mt-3">
                                <p>Milage</p>

                            </div>
                            <div class=" ">
                                <h2>100,325 Kms</h2>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between featured_card_details">
                            <div class="">
                                <p>Version</p>

                            </div>
                            <div class=" ">
                                <h2>Automatic</h2>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between featured_card_details">
                            <div class=" ">
                                <p>Fuel</p>

                            </div>
                            <div class=" ">
                                <h2>Petrol</h2>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
       


    </main>